<ng-container *ngIf="(hasBacklog$ | async)">
  <div class="current-issue" *transloco="let t; read 'currentIssue'">
    <ng-container *ngIf="(currentIssue$ | async) as issue; else noIssue">
      <div class="current-issue__head">
        <span class="current-issue__key">{{ issue.key }}</span>
        <span class="current-issue__summary">{{ issue.summary }}</span>
        <button *ngIf="issue.description"
                type="button"
                class="current-issue__toggle"
                (click)="toggleDescription()"
                [attr.aria-expanded]="descriptionExpanded">
          {{ descriptionExpanded ? t('hide-detail') : t('show-detail') }}
        </button>
      </div>
      <p *ngIf="descriptionExpanded && issue.description" class="current-issue__description">{{ issue.description }}</p>
    </ng-container>
    <ng-template #noIssue>
      <span class="current-issue__hint">{{ t('none-selected') }}</span>
    </ng-template>
  </div>
</ng-container>
