<ng-container *transloco="let t; read 'playerName-form'">
  <form [formGroup]="formGroup">
    <div class="mb-3">
      <label for="playerUsername" class="form-label">{{ t('username-label') }}</label>
      <input id="playerUsername" type="text" class="form-control" formControlName="username"
             autocomplete="name" [placeholder]="t('username-placeholder')">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="formGroup.invalid" (click)="setUsername()">
      {{ join ? t('joinButton-label') : t('updateButton-label')}}
    </button>
  </form>
</ng-container>
